body {
    background-color: white;
}

body *{
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    color: #112e51;
    font-family: 'Georgia', serif;
}

h3 {
    color: #112e51;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 1em;
}

em {
    font-size: 0.8em;
}

.page {
    width: 1250px;
    background-color: #4b636e;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.pure-g {
    background: #f0f0f0;
    border-style: double;
    border-color: #112e51;
    border-width: 10px;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.info-title {
    text-align: center;
    font-family: 'Georgia', serif;
}

.info-text {
    text-align: center;
    font-size: 2em;
}

#subheader {
    background: #bbe4f2;
    text-align: center;
    border-style: solid;
    border-color: #a7b2be;
    border-width: 2.5px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.vis-container {
    width: 100%;
}

#map-notif {
    margin-top: 1rem;
}

#plot-notif {
    text-align: center;
    margin-bottom: 2rem;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.hr-line {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    &:after, &:before {
      content: '';
      background-color: #112e51;
      height: 5px;
      width: 32vw;
      margin: 10px;
    }
}